/* #region Selectable classes */

/* Hide title heading */
.nype-hide-h1 + .md-container .md-content__inner > h1,
.nype-hide-action + .md-container .md-content__inner > .md-content__button {
    display: none;
}

/* Center content */
@media screen and (min-width: 30rem) {
    .nype-content-only + .md-container .md-content {
        max-width: 37rem;
        margin: auto;
    }
}

/* Wide content */
@media screen and (min-width: 30rem) {
    .nype-wide-content + .md-container .md-content {
        max-width: 60rem;
        margin: auto;
    }
}

/* Overall better text formatting */
.nype-justify + .md-container .md-content {
    text-align: justify;
}

/* #endregion */

/* #region Animated elements */

:root > * {
    --nype-pulse-primary-color: var(--md-primary-fg-color);
    --nype-pulse-accent-color: var(--md-accent-fg-color);
}

@keyframes alert {
    0% {
        transform: rotate(0deg);
        color: var(--nype-pulse-accent-color);
    }

    25% {
        transform: rotate(-15deg) scale(1.5);
        color: var(--nype-pulse-primary-color);
    }

    50% {
        transform: rotate(0deg);
        color: var(--nype-pulse-accent-color);
    }

    75% {
        transform: rotate(15deg) scale(1.5);
        color: var(--nype-pulse-primary-color);
    }

    100% {
        transform: rotate(0deg);
        color: var(--nype-pulse-accent-color);
    }
}

.twemoji.nype-pulse {
    animation: alert 2500ms infinite;
}

/* #endregion */

/* #region Contact Us Form and related */

/* For the nype-show-email button */
.nype-code-button {
    cursor: pointer;
    outline: 0.1em solid var(--md-accent-fg-color);
    border-radius: 0.2em;
}

.nype-code-button:hover code {
    color: var(--md-accent-fg-color);
}

/* For the Contact Form */
.nype-form-wrapper {
    width: 100%;
}

@media screen and (max-width: 45em) {
    .nype-form {
        width: 100%;
    }
}

@media screen and (min-width: 45em) {
    .nype-form {
        width: 50%;
    }
}

.nype-form > .md-input {
    display: block;
    margin: 0 0 0.5rem 0;
    width: 100%;
    background: inherit;
}

.nype-form > .md-input:focus-visible {
    outline: .1em solid var(--md-accent-fg-color);
    border: unset;
}

.nype-form > .md-input:valid {
    outline: .1em solid #00dfc8;
    border: unset;
}

.nype-form > textarea.md-input {
    border-top: unset;
    border-right: unset;
    border-left: unset;
    color: var(--md-typeset-color);
    font-family: var(--md-text-font-family);
    font-feature-settings: "kern", "liga";
    height: 5rem;
    padding-top: 0.6em;
}

.nype-form > button {
    margin-top: 1rem;
    width: 100%;
}

/* Contact Success */
.twemoji.nype-large-emoji {
    height: 7rem;
    width: 100%;
}

.twemoji.nype-large-emoji svg {
    height: 7rem;
    width: 7rem;
    margin: 0 auto;
    max-height: unset;
}

/* #endregion */

/* #region CTA Sections - custom_cta_sections */

.nype-cta {
    margin: 1rem auto;
    text-align: center;
    width: 50%;
}

.nype-cta-title {
    font-weight: 700;
}

.nype-cta-description:hover .twemoji {
    animation: alert 2500ms infinite;
}

.nype-cta p {
    margin: unset;
}

/* #endregion */

/* #region Overrides for custom modules */

/* Neoteroi https://github.com/Neoteroi/mkdocs-plugins */

.nt-timeline.no-separators .nt-timeline-content {
    border-bottom: unset;
}

.nt-timeline .nt-timeline-sub-title {
    color: var(--md-default-fg-color--light);
}

/* Align colors more with material */

.nt-timeline-dot {
    background-color: var(--md-typeset-a-color) !important;
}

.nt-timeline.vertical.center .nt-timeline-before {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(150, 150, 150) 90%) no-repeat center/2px 100%;
}

.nt-timeline.vertical.center .nt-timeline-items {
    background: radial-gradient(circle, rgb(150, 150, 150) 0%, rgb(150, 150, 150) 100%) no-repeat center/2px 100%;
}

.nt-timeline.vertical.center .nt-timeline-after {
    background: linear-gradient(rgb(150, 150, 150) 0%, rgba(255, 255, 255, 0) 50%) no-repeat center/2px 100%;
}

/* Compact timeline layout with smaller gaps between items */

.compact-timeline :is(.nt-timeline-title, .nt-timeline-sub-title) {
    font-size: inherit;
}

.compact-timeline .nt-timeline-title {
    font-weight: 700;
    margin-bottom: unset;
}

.compact-timeline .nt-timeline-item {
    padding-bottom: unset;
}

.compact-timeline .nt-timeline-content {
    padding-bottom: unset;
    margin-top: unset;
    margin-bottom: unset;
}

/* #endregion */

/* #region FAQ Details */

:root {
    /* https://sap.github.io/ui5-webcomponents/icons/ */
    --nype-admonition-icon--faq: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 0q53 0 99.5 20T437 75t55 81.5 20 99.5-20 99.5-55 81.5-81.5 55-99.5 20-99.5-20T75 437t-55-81.5T0 256t20-99.5T75 75t81.5-55T256 0zm0 461q42 0 79.5-16.5T401 400t44-65 16-79-16.5-79.5T400 111t-65-44-79-16-79.5 16.5T111 112t-44 65-16 79 16.5 79.5T112 401t65 44 79 16zm0-109q14 0 23 9t9 23-9 23-23 9-23-9-9-23 9-23 23-9zm0-256q40 0 68 28t28 68q0 33-20 58.5T282 285v9q0 11-7.5 18.5T256 320t-18.5-7.5T230 294v-32q0-11 8-18t21-7q17 0 29.5-13t12.5-32-13-32-32-13-32 12.5-13 29.5q0 13-7 21t-18 8-18.5-9-7.5-26 7.5-32.5T188 123t30.5-19.5T256 96z"></path></svg>');
    --nype-admonition-border-color--faq: var(--md-primary-fg-color);
}

.md-typeset .admonition.faq,
.md-typeset details.faq {
    border-color: var(--nype-admonition-border-color--faq);
}

.md-typeset details.faq {
    border-radius: unset;
    margin: unset;
    font-size: inherit;
}

.md-typeset .admonition.faq {
    border-radius: .5rem;
}

.md-typeset details.faq:not(:last-child) {
    border-bottom: unset;
}

.md-typeset details.faq:first-child {
    border-radius: .5rem .5rem 0 0;
}

.md-typeset details.faq:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.md-typeset .faq > summary {
    background-color: unset;
    border-radius: unset;
}

.md-typeset details:not([open]) > summary {
    border-radius: unset;
}

.md-typeset details[open],
.md-typeset details[open] > summary {
    background-color: var(--md-default-fg-color--lightest);
}

.md-typeset details.faq:first-child > summary {
    border-radius: .4rem .4rem 0 0;
}

.md-typeset details.faq:last-child > summary {
    border-radius: 0 0 .4rem .4rem;
}

.md-typeset details[open].faq:last-child > summary {
    border-radius: unset;
}

.md-typeset details:not([open]).faq > summary:hover {
    background-color: var(--md-default-fg-color--lightest);
}

.md-typeset .faq > .admonition-title::before,
.md-typeset .faq > summary::before {
    background-color: var(--md-accent-fg-color);
    -webkit-mask-image: var(--nype-admonition-icon--faq);
    mask-image: var(--nype-admonition-icon--faq);
}

.md-typeset details.faq:focus-within {
    box-shadow: unset;
}

/* #endregion */

/* #region Discord Invite */

:root {
    --nype-discord-invite-default: #248046;
    --nype-discord-invite-hover: #1A6334;
    --nype-discord-online-circle: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2"/></svg>');
}

.nype-discord-invite {
    outline: .2em solid var(--md-default-fg-color--lightest);
    border-radius: .5em;
    margin: 0 auto;
    padding: 1em;
    width: 80%;
}

.nype-discord-invite-loading {
    display: none;
}

.nype-discord-invite-header {
    font-weight: 700;
    font-size: .75em;
    margin: 0;
}

.nype-discord-invite-logo {
    text-align: center;
}

.nype-discord-invite-title {
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
}

.nype-discord-invite-title > a {
    color: unset;
}

.nype-discord-invite-title > a:hover {
    color: unset;
}

.nype-discord-invite-title:hover {
    text-decoration: underline;
}

.nype-discord-invite-stats {
    margin: 0 auto;
    text-align: center;
}

.nype-discord-invite-stats > span::before {
    display: inline-block;
    content: "";
    width: .7em;
    height: .7em;
    margin: 0 .1em 0 0;
    -webkit-mask-image: var(--nype-discord-online-circle);
    mask-image: var(--nype-discord-online-circle);
}

.nype-discord-invite-stats > .online-members::before {
    background-color: var(--nype-discord-invite-default);
}

.nype-discord-invite-stats > .all-members::before {
    background-color: gray;
}

.md-typeset .nype-discord-invite-join {
    width: 100%;
    background-color: var(--nype-discord-invite-default);
    border-color: var(--nype-discord-invite-default);
}

.md-typeset .nype-discord-invite-join:hover {
    background-color: var(--nype-discord-invite-hover);
    border-color: var(--nype-discord-invite-hover);
}

.not-loaded :is(
    .nype-discord-invite-header,
    .nype-discord-invite-logo,
    .nype-discord-invite-title, 
    .nype-discord-invite-stats, 
    .nype-discord-invite-join
) {
    display: none;
}

.not-loaded .nype-discord-invite-loading {
    display: block;
}

/* #endregion */

/* #region Overrides for blog post cards */

.md-post--excerpt hr {
    margin: 1em 0;
}

/* #endregion */