name: ci 
on:
  push:
    branches:
      - master
      - main
  workflow_dispatch: {}
permissions:
  contents: write
  pages: write
  id-token: write
jobs:
  dispatch:
    runs-on: ubuntu-latest
    strategy:
      # Limit the load of the VPS server
      max-parallel: 1
      # If one deployment failed then don't try another
      fail-fast: true
      matrix:
        repo:
          - handle: 'fioriroletesting/fioriroletesting.github.io'
            isLast: false
          - handle: 'fioriappsusage/fioriappsusage.github.io'
            isLast: false
          - handle: 'Fiori-Tracker/fiori-tracker.github.io'
            isLast: false
          - handle: 'nypesap/nypesap.github.io'
            isLast: true
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PUBLIC_REPOS_NYPE_DISPATCH }}
          repository: ${{ matrix.repo.handle }}
          event-type: theme-dispatch
      - name: Wait a bit
        if: ${{ !matrix.repo.isLast }}
        # Limit the load of the VPS server
        run: sleep 30